.signup_form{
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    width: 48vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100vw;
}

.heading{
   text-align: center;
}

.form-error{
    color: red;
}
